/*Less*/
/* normalize and reset * taken from https://necolas.github.io/normalize.css/ 
 * and  https://meyerweb.com/eric/tools/css/reset */

@import "reset.css";
@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*setting font family to the whole document*/
html {
	font-family: 'Lato';
}

a, ul {
    text-decoration: none;
}

.sticky-menu {
	position:fixed;
	width:100%;
	background-color: #060606;
	z-index: 1;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding:1rem 0;
	box-shadow: 0rem 0.35rem 0.35rem 0rem rgba(0,0,0,0.4);

	.home-logo img {
		height:2.75rem;
		width:7.5rem;
		margin-left:2.75rem;
	}

	.main-nav {
		list-style-type: none;
		margin-right:2.75rem;
		ul {
			li {
				display:inline-block;
				&:not(:last-child) {
					padding-right:2.625rem;
				}
			}
			a {
				font-size:1.25rem;
				color: #FFF;
			}
			a:hover {
				color:#d4191f;
			}
		}	
	}
}

.header-img {
	img {
		width:100%;
		height:100%;
		margin-top:4.75rem;
		z-index:-99;
	}
	/*fix it*/
	.text-box {
		position:absolute;
		
		top:calc(~"1rem + 20%");
		left:15%;
		width:26vw;
		color:#FFF;
	}
		h1 {
			font-size:1.875rem;
			font-weight: 700;
			padding-bottom:2.75rem;
			     letter-spacing: -.02em; 
		/*	margin:0;*/
		}
		p {
			font-size:1rem;
			line-height: 1.25rem;
			padding-bottom:2.75rem;
		}
}

/*fix button; it terribly breaks when resized*/
button {
	border:none;
	outline:none;
	padding:1.25rem;
	margin-bottom:7.25rem;
	color:#FFF;
	font-size:1.25rem;
	text-align: center;
	vertical-align: center;
	background-color: #d4191f;
	cursor:pointer;
}

.popup-box {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5);

    .x-button {
    	color: #000;
    	font-size: 3rem;
    	font-weight: bold;; 
    	line-height: 0;
    	margin-left:95%;
    	display:inline-block; 
    	/*check top margin*/
	}
	.x-button:hover {
    	cursor: pointer;
	}
	.popup-content, .popup-content-2 {
	    background-color: #fff;
	    margin: 10% auto; 
	    padding: 1.5rem;
	    border: 1px solid #888;
	    width: 50%; 
	    h2 {
	    	font-size:1.875rem;
			font-weight: 700;
			text-align: center;
	    }
	    form {
	    	margin:5% 9% 2% 9%;
	    	p {
	    		color:#747474;
	    	}
	    	div {
	    		display:inline-block;
	    		min-width:35%;
	    		&:first-child {
	    			margin-right:1rem;
	    		}
	    		label{
	    			display:block;
	    			font-size: 1rem;
	    		}
	    	}

	    	fieldset {

	    	}
	    	textarea {
    			resize: none;
			}
	    }
	}
}

.products-section {
	border-bottom:1px solid #e5e5e5; 
	padding-bottom: 3.75rem;

	h2 {
		font-size:1.875rem;
		font-weight: 700;
		margin:3.25rem auto 4rem auto;
		text-align: center;
	}
	.figure-container {
		display:flex;
		flex-wrap:wrap;
		width: 80%;
    	margin: 0 auto;
    	text-align: center;
	}
	figure {
		margin: 0 auto 0.75rem auto;

		figcaption {
			font-size: 1rem;
			text-align: left;
		}
	}
}

.case-section {
	position:relative;
	h2 {
		font-size:1.5rem;
		font-weight: 700;
		padding:;
	}
	p,a {
		font-size: 1rem;
		line-height: 1.25rem;
	}
	p {
		margin:2.25rem 0 2.75rem;
	}
	a {
		color:#d4191f;
		border-bottom: 1px solid #d4191f;
		font-weight: 700;
	}
	.column {
		width:28%;
		padding:9% 0 9% 13%;
	}
	img {
		position:absolute;
		right:21%;
		top:0;
		vertical-align: center;
		margin: 3.875rem 0;
		width:25%;
	}
}


/*fix style, padaryti, kad butu 3 pagaliukai gal?*/
 @media all and (min-width : 320px) and (max-width : 568px) {

	.main-nav{
	    	position:relative;
	        right: 2rem;
	}

	.burger{
	    cursor: pointer;
	    display: block;
	}

	.burger:before,
	.burger:after{
		content: "";
	    background: #EEEEEE;
	    display: block;
	    width: 2.5rem;
	    height: 0.5rem;
	    margin-bottom: 0.5rem;
	    position: relative;
	    top: 0;
	    transition: all ease-in-out 0.4s;
	}

	.main-nav.open .burger:after{
	    transform: rotate(135deg);
	    top: -0.5rem;
		right: -4.5rem;
	}
	.main-nav.open .burger:before{
	    transform: rotate(-135deg);
	    top: 0.5rem;
		right: -4.5rem;
	}

	header nav ul {
		display: none;
		color: #fff;
	}

	.main-nav.open ul {
		position: relative;
		display: block;
		text-align: right;
		right: -1.5rem;
	}

	header nav ul li {
	    margin: 1rem auto;
	}

	header {
		align-items: unset;
	}
}